# <a id='toc1_'></a>[Working with the `pandas` module](#toc0_)
Based on [pandas workshop](https://github.com/stefmolin/pandas-workshop/blob/main/notebooks/1-getting_started_with_pandas.ipynb) by Steph Molin

**Table of contents**<a id='toc0_'></a>    
- [Working with the `pandas` module](#toc1_)    
  - [Create or upload data as `DataFrame`](#toc1_1_)    
  - [Working with Series](#toc1_2_)    
  - [Working with DataFrames](#toc1_3_)    
    - [Getting an verview of the `DataFrame`](#toc1_3_1_)    
    - [Accessing rows and columns (OR) Subsetting data frames](#toc1_3_2_)    
    - [Basic Summary Statistics of a data frame](#toc1_3_3_)    
  - [Categorical data types](#toc1_4_)    

<!-- vscode-jupyter-toc-config
	numbering=false
	anchor=true
	flat=false
	minLevel=1
	maxLevel=6
	/vscode-jupyter-toc-config -->
<!-- THIS CELL WILL BE REPLACED ON TOC UPDATE. DO NOT WRITE YOUR TEXT IN THIS CELL -->

In [15]:
import pandas as pd
import math
import numpy as np

## <a id='toc1_1_'></a>[Create or upload data as `DataFrame`](#toc0_)

`DataFrame` data structures can be constructed from dictionaries and numpy arrays.

In [16]:
# creating dataframes from dictionaries
df = pd.DataFrame(
    {"AAA": [4, 5, 6, 7], "BBB": [10.00, 20.4, math.pi, 40], "CCC": ["100","50", -30, -50]}
)

# default int and float type os int64, float 64 resp
print(df.dtypes)
df

AAA      int64
BBB    float64
CCC     object
dtype: object

   AAA        BBB  CCC
0    4  10.000000  100
1    5  20.400000   50
2    6   3.141593  -30
3    7  40.000000  -50

In [17]:
# constructing DataFrames from np arrays
arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
df2 = pd.DataFrame(arr, columns=['a', 'b', 'c'])
df2

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

## <a id='toc1_2_'></a>[Working with Series](#toc0_)
`df.Series` are one-dimensional ndarray with axis labels (including time series). The object supports both integer- and label-based indexing. It can be viewed as a single column of a data frame where "index" corresponds to row names.

In [18]:
# dictionaries already contain natural indexing due to keys
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict_series = pd.Series(data=dict, index=['a', 'b', 'c'])
dict_series

a    <class 'dict'>
b    <class 'dict'>
c    <class 'dict'>
dtype: object

In [19]:
# default integer indexing
arr = np.array([4,6,9,10])
arr_Ser = pd.Series(arr)
arr_Ser

0     4
1     6
2     9
3    10
dtype: int64

In [20]:
# custom label-based indexing
arr = np.array([4,6,9,10])
arr_Ser = pd.Series(arr, index = ['w', 'x', 'y', 'z'])
arr_Ser

w     4
x     6
y     9
z    10
dtype: int64

## <a id='toc1_3_'></a>[Working with DataFrames](#toc0_)

### <a id='toc1_3_1_'></a>[Getting an verview of the `DataFrame`](#toc0_)

In [21]:
mets = pd.read_csv('./data/Meteorite_Landings.csv')
mets

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,01/01/1880 12:00:00 AM,50.77500,6.08333,"(50.775, 6.08333)"
1,Aarhus,2,Valid,H6,720.0,Fell,01/01/1951 12:00:00 AM,56.18333,10.23333,"(56.18333, 10.23333)"
2,Abee,6,Valid,EH4,107000.0,Fell,01/01/1952 12:00:00 AM,54.21667,-113.00000,"(54.21667, -113.0)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,01/01/1976 12:00:00 AM,16.88333,-99.90000,"(16.88333, -99.9)"
4,Achiras,370,Valid,L6,780.0,Fell,01/01/1902 12:00:00 AM,-33.16667,-64.95000,"(-33.16667, -64.95)"
...,...,...,...,...,...,...,...,...,...,...
45711,Zillah 002,31356,Valid,Eucrite,172.0,Found,01/01/1990 12:00:00 AM,29.03700,17.01850,"(29.037, 17.0185)"
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46.0,Found,01/01/1999 12:00:00 AM,13.78333,8.96667,"(13.78333, 8.96667)"
45713,Zlin,30410,Valid,H4,3.3,Found,01/01/1939 12:00:00 AM,49.25000,17.66667,"(49.25, 17.66667)"
45714,Zubkovsky,31357,Valid,L6,2167.0,Found,01/01/2003 12:00:00 AM,49.78917,41.50460,"(49.78917, 41.5046)"
45715,Zulu Queen,30414,Valid,L3.7,200.0,Found,01/01/1976 12:00:00 AM,33.98333,-115.68333,"(33.98333, -115.68333)"

In [ ]:
print(dir(mets))

['GeoLocation', 'T', '_AXIS_LEN', '_AXIS_ORDERS', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__arrow_c_stream__', '__bool__', '__class__', '__contains__', '__copy__', '__dataframe__', '__dataframe_consortium_standard__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pandas_priority__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_accum_func', '_agg_examples_doc', '_agg_see_also_doc', '_align_for_op', '_align_frame', '_align_series', '_append', '_arith_method', '_arith_method_with_reindex', '_as_manager', '_attrs', '_box_col_values', '_can_fast_transpose', '_check_inplace_and_allows_duplicate_labels', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_cmp_method', '_combine_frame', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_result', '_constructor', '_constructor_from_mgr', '_constructor_sliced', '_constructor_sliced_from_mgr', '_create_data_for_split_and_tight_to_dict', '_data', '_deprecate_downcast', '_dir_additions', '_dir_deletions', '_dispatch_frame_op', '_drop_axis', '_drop_labels_or_levels', '_ensure_valid_index', '_find_valid_index', '_flags', '_flex_arith_method', '_flex_cmp_method', '_from_arrays', '_from_mgr', '_get_agg_axis', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cleaned_column_resolvers', '_get_column_array', '_get_index_resolvers', '_get_item_cache', '_get_label_or_level_values', '_get_numeric_data', '_get_value', '_get_values_for_csv', '_getitem_bool_array', '_getitem_multilevel', '_getitem_nocopy', '_getitem_slice', '_gotitem', '_hidden_attrs', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_info_repr', '_init_mgr', '_inplace_method', '_internal_names', '_internal_names_set', '_is_copy', '_is_homogeneous_type', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_is_view_after_cow_rules', '_iset_item', '_iset_item_mgr', '_iset_not_inplace', '_item_cache', '_iter_column_arrays', '_ixs', '_logical_func', '_logical_method', '_maybe_align_series_as_frame', '_maybe_cache_changed', '_maybe_update_cacher', '_metadata', '_mgr', '_min_count_stat_function', '_needs_reindex_multi', '_pad_or_backfill', '_protect_consolidate', '_reduce', '_reduce_axis1', '_reindex_axes', '_reindex_multi', '_reindex_with_indexers', '_rename', '_replace_columnwise', '_repr_data_resource_', '_repr_fits_horizontal_', '_repr_fits_vertical_', '_repr_html_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_sanitize_column', '_series', '_set_axis', '_set_axis_name', '_set_axis_nocheck', '_set_is_copy', '_set_item', '_set_item_frame_value', '_set_item_mgr', '_set_value', '_setitem_array', '_setitem_frame', '_setitem_slice', '_shift_with_freq', '_should_reindex_frame_op', '_slice', '_stat_function', '_stat_function_ddof', '_take_with_is_copy', '_to_dict_of_blocks', '_to_latex_via_styler', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'apply', 'applymap', 'asfreq', 'asof', 'assign', 'astype', 'at', 'at_time', 'attrs', 'axes', 'backfill', 'between_time', 'bfill', 'bool', 'boxplot', 'clip', 'columns', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'corrwith', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'eval', 'ewm', 'expanding', 'explode', 'fall', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'from_dict', 'from_records', 'ge', 'get', 'groupby', 'gt', 'head', 'hist', 'iat', 'id', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'insert', 'interpolate', 'isetitem', 'isin', 'isna', 'isnull', 'items', 'iterrows', 'itertuples', 'join', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'map', 'mask', 'max', 'mean', 'median', 'melt', 'memory_usage', 'merge', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nametype', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'pivot', 'pivot_table', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'query', 'radd', 'rank', 'rdiv', 'recclass', 'reclat', 'reclong', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'select_dtypes', 'sem', 'set_axis', 'set_flags', 'set_index', 'shape', 'shift', 'size', 'skew', 'sort_index', 'sort_values', 'squeeze', 'stack', 'std', 'style', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_feather', 'to_gbq', 'to_hdf', 'to_html', 'to_json', 'to_latex', 'to_markdown', 'to_numpy', 'to_orc', 'to_parquet', 'to_period', 'to_pickle', 'to_records', 'to_sql', 'to_stata', 'to_string', 'to_timestamp', 'to_xarray', 'to_xml', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unstack', 'update', 'value_counts', 'values', 'var', 'where', 'xs', 'year']

In [23]:
# takes the transpose of the dataframe
mets.head().T

,0,1,2,3,4
name,Aachen,Aarhus,Abee,Acapulco,Achiras
id,1,2,6,10,370
nametype,Valid,Valid,Valid,Valid,Valid
recclass,L5,H6,EH4,Acapulcoite,L6
mass (g),21.0,720.0,107000.0,1914.0,780.0
fall,Fell,Fell,Fell,Fell,Fell
year,01/01/1880 12:00:00 AM,01/01/1951 12:00:00 AM,01/01/1952 12:00:00 AM,01/01/1976 12:00:00 AM,01/01/1902 12:00:00 AM
reclat,50.775,56.18333,54.21667,16.88333,-33.16667
reclong,6.08333,10.23333,-113.0,-99.9,-64.95
GeoLocation,"(50.775, 6.08333)","(56.18333, 10.23333)","(54.21667, -113.0)","(16.88333, -99.9)","(-33.16667, -64.95)"

In [24]:
# following are analogous to R's head(), tail() and str()
print(f"head: \n {mets.head()} \n")
print(f"tail: \n {mets.tail()} \n")
print(f"info or structure: \n {mets.info()}")

head:
        name   id nametype     recclass  mass (g)  fall  \
0    Aachen    1    Valid           L5      21.0  Fell
1    Aarhus    2    Valid           H6     720.0  Fell
2      Abee    6    Valid          EH4  107000.0  Fell
3  Acapulco   10    Valid  Acapulcoite    1914.0  Fell
4   Achiras  370    Valid           L6     780.0  Fell

                     year    reclat    reclong           GeoLocation
0  01/01/1880 12:00:00 AM  50.77500    6.08333     (50.775, 6.08333)
1  01/01/1951 12:00:00 AM  56.18333   10.23333  (56.18333, 10.23333)
2  01/01/1952 12:00:00 AM  54.21667 -113.00000    (54.21667, -113.0)
3  01/01/1976 12:00:00 AM  16.88333  -99.90000     (16.88333, -99.9)
4  01/01/1902 12:00:00 AM -33.16667  -64.95000   (-33.16667, -64.95)

tail:
              name     id nametype              recclass  mass (g)   fall  \
45711  Zillah 002  31356    Valid               Eucrite     172.0  Found
45712      Zinder  30409    Valid  Pallasite, ungrouped      46.0  Found
45713        Zlin  30410    Valid                    H4       3.3  Found
45714   Zubkovsky  31357    Valid                    L6    2167.0  Found
45715  Zulu Queen  30414    Valid                  L3.7     200.0  Found

                         year    reclat    reclong             GeoLocation
45711  01/01/1990 12:00:00 AM  29.03700   17.01850       (29.037, 17.0185)
45712  01/01/1999 12:00:00 AM  13.78333    8.96667     (13.78333, 8.96667)
45713  01/01/1939 12:00:00 AM  49.25000   17.66667       (49.25, 17.66667)
45714  01/01/2003 12:00:00 AM  49.78917   41.50460     (49.78917, 41.5046)
45715  01/01/1976 12:00:00 AM  33.98333 -115.68333  (33.98333, -115.68333)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         45716 non-null  object
 1   id           45716 non-null  int64
 2   nametype     45716 non-null  object
 3   recclass     45716 non-null  object
 4   mass (g)     45585 non-null  float64
 5   fall         45716 non-null  object
 6   year         45425 non-null  object
 7   reclat       38401 non-null  float64
 8   reclong      38401 non-null  float64
 9   GeoLocation  38401 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 3.5+ MB
info or structure:
 None

In [25]:
# dimension of dataframe
print(mets.shape)

# number of rows in the dataframe
print(f"num. of rows: {mets.index}")

(45716, 10)
num. of rows: RangeIndex(start=0, stop=45716, step=1)

### <a id='toc1_3_2_'></a>[Accessing rows and columns (OR) Subsetting data frames](#toc0_)

1. Accessing column(s) by their names.
2. Accessing rows/columns using  row/column numbers. 
3. Using `.loc` or `.iloc` properties of a `DataFrame`

In [26]:
## accessing individual columns using column names
mets.nametype
mets.reclat

0        50.77500
1        56.18333
2        54.21667
3        16.88333
4       -33.16667
           ...
45711    29.03700
45712    13.78333
45713    49.25000
45714    49.78917
45715    33.98333
Name: reclat, Length: 45716, dtype: float64

In [27]:
## accesing multiple columns while looking at them as keys
## pass a list of column names 
mets[['reclat', 'mass (g)']]

         reclat  mass (g)
0      50.77500      21.0
1      56.18333     720.0
2      54.21667  107000.0
3      16.88333    1914.0
4     -33.16667     780.0
...         ...       ...
45711  29.03700     172.0
45712  13.78333      46.0
45713  49.25000       3.3
45714  49.78917    2167.0
45715  33.98333     200.0

[45716 rows x 2 columns]

In [28]:
## accesing a subset of the columns
# note: cols 0, 1, ... ,7 are accessed
mets[0:8]

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,01/01/1880 12:00:00 AM,50.77500,6.08333,"(50.775, 6.08333)"
1,Aarhus,2,Valid,H6,720.0,Fell,01/01/1951 12:00:00 AM,56.18333,10.23333,"(56.18333, 10.23333)"
2,Abee,6,Valid,EH4,107000.0,Fell,01/01/1952 12:00:00 AM,54.21667,-113.00000,"(54.21667, -113.0)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,01/01/1976 12:00:00 AM,16.88333,-99.90000,"(16.88333, -99.9)"
4,Achiras,370,Valid,L6,780.0,Fell,01/01/1902 12:00:00 AM,-33.16667,-64.95000,"(-33.16667, -64.95)"
5,Adhi Kot,379,Valid,EH4,4239.0,Fell,01/01/1919 12:00:00 AM,32.10000,71.80000,"(32.1, 71.8)"
6,Adzhi-Bogdo (stone),390,Valid,LL3-6,910.0,Fell,01/01/1949 12:00:00 AM,44.83333,95.16667,"(44.83333, 95.16667)"
7,Agen,392,Valid,H5,30000.0,Fell,01/01/1814 12:00:00 AM,44.21667,0.61667,"(44.21667, 0.61667)"

`df.iloc`: integer-location based indexing for selection by position. Allowed input data types are - integer, list, slice object, boolean array

In [29]:
# integer and list inputs
print(mets.iloc[0]) # to access just one row of the DataFrame
print(f"\n ---- \n")
print(mets.iloc[[0,7]]) # pass a list to access one or more rows of DataFrame

name                           Aachen
id                                  1
nametype                        Valid
recclass                           L5
mass (g)                         21.0
fall                             Fell
year           01/01/1880 12:00:00 AM
reclat                         50.775
reclong                       6.08333
GeoLocation         (50.775, 6.08333)
Name: 0, dtype: object

 ----

     name   id nametype recclass  mass (g)  fall                    year  \
0  Aachen    1    Valid       L5      21.0  Fell  01/01/1880 12:00:00 AM
7    Agen  392    Valid       H5   30000.0  Fell  01/01/1814 12:00:00 AM

     reclat  reclong          GeoLocation
0  50.77500  6.08333    (50.775, 6.08333)
7  44.21667  0.61667  (44.21667, 0.61667)

In [30]:
# slice object inputs
print(mets.iloc[:5]) # rows 0, 1,2,3,
print(f"\n ---- \n")
print(mets.head().iloc[1:]) # rows 1 to last row
print(f"\n ---- \n")
print(mets.iloc[2:7]) # can pass slice objects as well. Note: it outputs rows 2, 3, 4, 5, and 6

       name   id nametype     recclass  mass (g)  fall  \
0    Aachen    1    Valid           L5      21.0  Fell
1    Aarhus    2    Valid           H6     720.0  Fell
2      Abee    6    Valid          EH4  107000.0  Fell
3  Acapulco   10    Valid  Acapulcoite    1914.0  Fell
4   Achiras  370    Valid           L6     780.0  Fell

                     year    reclat    reclong           GeoLocation
0  01/01/1880 12:00:00 AM  50.77500    6.08333     (50.775, 6.08333)
1  01/01/1951 12:00:00 AM  56.18333   10.23333  (56.18333, 10.23333)
2  01/01/1952 12:00:00 AM  54.21667 -113.00000    (54.21667, -113.0)
3  01/01/1976 12:00:00 AM  16.88333  -99.90000     (16.88333, -99.9)
4  01/01/1902 12:00:00 AM -33.16667  -64.95000   (-33.16667, -64.95)

 ----

       name   id nametype     recclass  mass (g)  fall  \
1    Aarhus    2    Valid           H6     720.0  Fell
2      Abee    6    Valid          EH4  107000.0  Fell
3  Acapulco   10    Valid  Acapulcoite    1914.0  Fell
4   Achiras  370    Valid           L6     780.0  Fell

                     year    reclat    reclong           GeoLocation
1  01/01/1951 12:00:00 AM  56.18333   10.23333  (56.18333, 10.23333)
2  01/01/1952 12:00:00 AM  54.21667 -113.00000    (54.21667, -113.0)
3  01/01/1976 12:00:00 AM  16.88333  -99.90000     (16.88333, -99.9)
4  01/01/1902 12:00:00 AM -33.16667  -64.95000   (-33.16667, -64.95)

 ----

                  name   id nametype     recclass  mass (g)  fall  \
2                 Abee    6    Valid          EH4  107000.0  Fell
3             Acapulco   10    Valid  Acapulcoite    1914.0  Fell
4              Achiras  370    Valid           L6     780.0  Fell
5             Adhi Kot  379    Valid          EH4    4239.0  Fell
6  Adzhi-Bogdo (stone)  390    Valid        LL3-6     910.0  Fell

                     year    reclat    reclong           GeoLocation
2  01/01/1952 12:00:00 AM  54.21667 -113.00000    (54.21667, -113.0)
3  01/01/1976 12:00:00 AM  16.88333  -99.90000     (16.88333, -99.9)
4  01/01/1902 12:00:00 AM -33.16667  -64.95000   (-33.16667, -64.95)
5  01/01/1919 12:00:00 AM  32.10000   71.80000          (32.1, 71.8)
6  01/01/1949 12:00:00 AM  44.83333   95.16667  (44.83333, 95.16667)

### <a id='toc1_3_3_'></a>[Basic Summary Statistics of a data frame](#toc0_)

## <a id='toc1_4_'></a>[Categorical data types](#toc0_)
This is similar to R's factor data type that allows the user to handle categorical or factor variables. The "levels" of a factor variable in R will be called the "categories" of a categorical data type in python. 

Categorical data types can be created using `pd.Series` by specifying `dtype="category"`.

In [31]:
cat_var = pd.Series(["a", "b", "c", "a"], dtype="category")
cat_var

0    a
1    b
2    c
3    a
dtype: category
Categories (3, object): ['a', 'b', 'c']

In [38]:
mets

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,01/01/1880 12:00:00 AM,50.77500,6.08333,"(50.775, 6.08333)"
1,Aarhus,2,Valid,H6,720.0,Fell,01/01/1951 12:00:00 AM,56.18333,10.23333,"(56.18333, 10.23333)"
2,Abee,6,Valid,EH4,107000.0,Fell,01/01/1952 12:00:00 AM,54.21667,-113.00000,"(54.21667, -113.0)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,01/01/1976 12:00:00 AM,16.88333,-99.90000,"(16.88333, -99.9)"
4,Achiras,370,Valid,L6,780.0,Fell,01/01/1902 12:00:00 AM,-33.16667,-64.95000,"(-33.16667, -64.95)"
...,...,...,...,...,...,...,...,...,...,...
45711,Zillah 002,31356,Valid,Eucrite,172.0,Found,01/01/1990 12:00:00 AM,29.03700,17.01850,"(29.037, 17.0185)"
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46.0,Found,01/01/1999 12:00:00 AM,13.78333,8.96667,"(13.78333, 8.96667)"
45713,Zlin,30410,Valid,H4,3.3,Found,01/01/1939 12:00:00 AM,49.25000,17.66667,"(49.25, 17.66667)"
45714,Zubkovsky,31357,Valid,L6,2167.0,Found,01/01/2003 12:00:00 AM,49.78917,41.50460,"(49.78917, 41.5046)"
45715,Zulu Queen,30414,Valid,L3.7,200.0,Found,01/01/1976 12:00:00 AM,33.98333,-115.68333,"(33.98333, -115.68333)"

Convert an existing column in data frame to the categorical data type using the dataframe attribute `astype("category")`

In [ ]:
print(mets["fall"].dtype)
mets["fall"]

object

0         Fell
1         Fell
2         Fell
3         Fell
4         Fell
         ...
45711    Found
45712    Found
45713    Found
45714    Found
45715    Found
Name: fall, Length: 45716, dtype: object

In [41]:
cat_cols = ["nametype", 'recclass', 'fall']
mets[cat_cols] = mets[cat_cols].astype("category")
mets.dtypes

name             object
id                int64
nametype       category
recclass       category
mass (g)        float64
fall           category
year             object
reclat          float64
reclong         float64
GeoLocation      object
dtype: object

Use `pd.cut()` to group data into discrete bins i.e. to "discretize" a continuous variable

In [42]:
mets['reclat'].quantile([0, 0.25, 0.5, 0.75, 1])

0.00   -87.36667
0.25   -76.71424
0.50   -71.50000
0.75     0.00000
1.00    81.16667
Name: reclat, dtype: float64

In [47]:
labels = [f"{i} - {i+19}" for i in range(-87, 81, 20)[:-1]]  # Adjusted range to match the number of bins
mets["reclat_group"] = pd.cut(mets['reclat'], range(-87, 82, 20), right=False, labels=labels)
mets

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation,reclat_group
0,Aachen,1,Valid,L5,21.0,Fell,01/01/1880 12:00:00 AM,50.77500,6.08333,"(50.775, 6.08333)",33 - 52
1,Aarhus,2,Valid,H6,720.0,Fell,01/01/1951 12:00:00 AM,56.18333,10.23333,"(56.18333, 10.23333)",53 - 72
2,Abee,6,Valid,EH4,107000.0,Fell,01/01/1952 12:00:00 AM,54.21667,-113.00000,"(54.21667, -113.0)",53 - 72
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,01/01/1976 12:00:00 AM,16.88333,-99.90000,"(16.88333, -99.9)",13 - 32
4,Achiras,370,Valid,L6,780.0,Fell,01/01/1902 12:00:00 AM,-33.16667,-64.95000,"(-33.16667, -64.95)",-47 - -28
...,...,...,...,...,...,...,...,...,...,...,...
45711,Zillah 002,31356,Valid,Eucrite,172.0,Found,01/01/1990 12:00:00 AM,29.03700,17.01850,"(29.037, 17.0185)",13 - 32
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46.0,Found,01/01/1999 12:00:00 AM,13.78333,8.96667,"(13.78333, 8.96667)",13 - 32
45713,Zlin,30410,Valid,H4,3.3,Found,01/01/1939 12:00:00 AM,49.25000,17.66667,"(49.25, 17.66667)",33 - 52
45714,Zubkovsky,31357,Valid,L6,2167.0,Found,01/01/2003 12:00:00 AM,49.78917,41.50460,"(49.78917, 41.5046)",33 - 52
45715,Zulu Queen,30414,Valid,L3.7,200.0,Found,01/01/1976 12:00:00 AM,33.98333,-115.68333,"(33.98333, -115.68333)",33 - 52

`pd.crosstab()` is equivalent to R's `table()`

# References
1. Python4DS textbook: https://aeturrell.github.io/python4DS/welcome.html